In [1]:
import pandas as pd
import json

### Load DataFrame

In [2]:
interaction = pd.read_csv('./data/interaction.csv', index_col=0)
interaction

         user_id  track_id
0              0   4835013
1              0   5114312
2              0   6100597
3              0   6735576
4              0   7308840
...          ...       ...
9483351   120321  45915927
9483352   120321  46831592
9483353   120321  47111095
9483354   120321  47702931
9483355   120321  47783075

[9483356 rows x 2 columns]

In [3]:
print('n_user :', len(interaction['user_id'].unique()))
print('n_item :', len(interaction['track_id'].unique()))
print('n_interaction :', len(interaction))

n_user : 44668
n_item : 5638
n_interaction : 9483356

In [4]:
sideinfo = pd.read_csv('./data/sideinfo.csv', index_col=0)
sideinfo

,track_id,n_user,total_listening,artist_name,track_name,tags,genres,uri
0,36346257,12473,252744,Gotye,Somebody That I Used to Know,"{'indie': 100, 'alternative': 79, 'electronic'...","{'pop': 19, 'indie pop': 10, 'rock': 5, 'singe...",4wCmqSrbyCgxEXROQE6vtV
1,33619193,9713,193666,Adele,Rolling in the Deep,"{'soul': 100, 'Adele': 95, 'female vocalists':...","{'soul': 100, 'pop': 69, 'singer-songwriter': ...",1c8gk2PeTE04A1pIDH9YMk
2,36039983,9638,172650,Nirvana,Smells Like Teen Spirit,"{'Grunge': 100, 'rock': 69, 'Nirvana': 43, '90...","{'grunge': 100, 'rock': 69, 'alternative rock'...",5ghIJDpPoe3CfHMGu71E6T
3,26445594,9246,184883,M83,Midnight City,"{'electronic': 100, 'indie': 60, 'electropop':...","{'electropop': 49, 'electro': 31, 'synthpop': ...",1eyzqe2QqGZUmfcPZtrIyt
4,32083560,9078,184951,Foster the People,Pumped Up Kicks,"{'indie': 100, 'indie pop': 69, 'catchy': 38, ...","{'indie pop': 69, 'pop': 17, 'indie rock': 17,...",7w87IxuO7BDcJ3YUqCyMTT
...,...,...,...,...,...,...,...,...
5633,32144610,1000,15783,Static-X,Push It,"{'industrial metal': 100, 'metal': 79, 'Nu Met...","{'industrial metal': 100, 'metal': 79, 'nu met...",6O7pihLJgeqxUnG7u9oYL2
5634,32015006,1000,13893,Massive Attack,Psyche,"{'trip-hop': 100, 'electronic': 62, 'trip hop'...","{'trip hop': 37, 'electronica': 20, 'alternati...",5HZrnSHCqaazNzr5w1enKG
5635,18665821,1000,15332,Kanye West,Homecoming,"{'Hip-Hop': 100, 'Kanye West': 77, 'rap': 75, ...","{'rap': 75, 'hip hop': 44, 'pop': 6, 'metal': ...",2ovQ5MCx91XVjgVWEPfvks
5636,38006695,1000,15063,Kyuss,Supa Scoopa and Mighty Scoop,"{'Stoner Rock': 100, 'desert rock': 43, 'stone...","{'stoner rock': 100, 'rock': 29, 'stoner metal...",74PX4Sa0tXJDStditawG0O
5637,6946143,1000,15891,Apocalyptica,Bittersweet,"{'symphonic metal': 100, 'metal': 56, 'instrum...","{'symphonic metal': 100, 'metal': 56, 'cello':...",1ySw2y9Rmf1rtQuKESoTWs

In [5]:
sideinfo.isna().sum()

track_id           0
n_user             0
total_listening    0
artist_name        0
track_name         0
tags               0
genres             0
uri                0
dtype: int64

### Load json (csv 용량이 너무 크면 json 사용)

In [ ]:
with open('./data/interaction.json', encoding="utf-8") as f:
    interaction_json = json.load(f)
interaction = []
for user_dict in interaction_json:
    for track_tmp in user_dict['track_id']:
        interaction_tmp = {'user_id' : user_dict['user_id'], 'track_id' : track_tmp}
        interaction.append(interaction_tmp)
interaction = pd.DataFrame(interaction)
interaction